* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #d9dcd6;
  }
  
  header { 
    padding: 20px;
    font-family: 'Fantasy', Copperplate;
    background-color: #2d283f;
    color: #ffffff;
    border-bottom: 10px solid #2277af;
  }
  
  header h1 { 
    display: inline-block;
    font-size: 48px;
  }
  
  nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Fantasy', Copperplate;
    font-size: 20px;
  }
  
  nav ul { 
    list-style-type: none;
  }
  
  nav ul li { 
    display: inline-block;
    margin-left: 25px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-family: 'OCR A Std', monospace;
    font-size: 18px;
    text-align: left;
    margin: 0 0 1em 0;
    margin-bottom: 0;
  }
  
  main {
    padding-top: 50px;
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
  }
  
  .about-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  
  .work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .work-item {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow: hidden;
    line-height: 0;
    border: 2px solid #000;
    border-radius: 10px;
    border: 2px solid transparent; 
  }

  .work-item:hover {
    border: 2px solid #5379cf;
  }

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(6, 27, 54, 0.8) 0%, rgba(83, 137, 207, 0) 100%);
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    font-family: 'OCR A Std', monospace;
  }
  
  .work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 10px; 
    border: 2px solid #5379cf; 
  }
  
  .work-item:hover img {
    transform: scale(1.1);
  }
  
  .work-item h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px #000000;
    z-index: 1;
  }
  
  
  h2 {
    margin-top: 50px;
    font-size: 32px;
  }
  
  footer { 
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 { 
    font-size: 32px;
    margin-bottom: 50px;
}

a img {
    border: 1px solid #000000;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  a img:hover {
    transform: scale(1.1);
  }

  .contact img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }